<%- include("partials/header"); -%>

    <h2 class="center">All Users</h2>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">Computer ID</th> -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">View ID Card</th>
            </tr>
        </thead>
        <tbody>
            <% reporters.forEach(function(reporter) { %>
                <tr>
                    <td>
                        <%= reporter.id %>
                        <% const regex = /\d+/; %>
                        <% const idNumber = reporter.id.match(regex)[0]; %>
                    </td>
                    <td>
                        <%= reporter.fullName %>
                    </td>
                    <td>
                        <%= reporter.contact %>
                    </td>
                    <td>
                        <%= reporter.username %>
                    </td>
                    <td><%= reporter.password %></td>
                    <td><a class="btn btn-primary" href="/verify-reporter/NB/<%= idNumber %>">View Reporter</a></td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include("partials/footer"); -%>