<%- include("partials/header"); -%>

    <h2 class="center">All Users</h2>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col">Computer ID</th> -->
                <th scope="col">ID</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            <% reporters.forEach(function(reporter) { %>
                <tr>
                    <td>
                        <%= reporter.id %>
                    </td>
                    <td>
                        <%= reporter.fullName %>
                    </td>
                    <td>
                        <%= reporter.contact %>
                    </td>
                    <td>
                        <%= reporter.username %>
                    </td>
                    <td><%= reporter.password %></td>
                    <!-- <td><a class="btn btn-primary" href="/reporterData/<%= reporter._id %>">View Reporter</a></td> -->
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include("partials/footer"); -%>