<%- include("partials/header"); -%>
    <div class="body">
        <h1>
            <div class="title">Reporter Detail</div>
            <hr>
        </h1>
        </div>
        <%= pic %>
        <!-- <img class="img rounded mx-auto d-block" src="<%= pic %>" alt="Reporter Profile Photo"> -->
        <hr>
        <p>
            <%= fullName %>
                <%= id %>
                    <%= designation %>
                        <%= aadhaar %>
        </p>
            <br>
            <hr>
    </div>

    <%- include("partials/footer"); -%>